.hg-tooltip {
  max-height: 200px;
  width: 200px;
  visibility: hidden;
  position: fixed; 
  top: 0;
  left: 0;
  color: #555;
  box-shadow: 0 0 30px rgba(0,0,0, 0.4);
  background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  font-family: Helvetica, sans-serif;
}

.hg-tooltip p {
  margin: 5px 0;
}

.hg-tooltip .hg-tooltip-content {
  padding: 15px 15px 10px 15px;
  flex: 1;
}

.hg-tooltip .btn-hg-tooltip {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hg-tooltip .see-more-button {}

.hg-tooltip .btn-bar-hg-tooltip {
  border-top: 1px solid #EFEFEF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 35px;
  height: 35px;
}

.hg-tooltip .btn-bar-hg-tooltip-classification {
  flex: 1;
  display: flex;
  padding-left: 6px;
}

.hg-tooltip .btn-bar-hg-tooltip-classification .btn-hg-tooltip {
  border-right: 1px solid #efefef;
  font-size: 21px;
}

.hg-tooltip #select-term {
  margin: 0;
  padding: 0;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.hg-tooltip img {
  height: 60px;
  width: 60px;
}

.hg-tooltip p {
  font-size: 14px;
}

.hg-tooltip .see-more-button {
  color: #0095FF;
  cursor: pointer;
  float: right;
  font-size: 14px;
}

.hg-tooltip:after {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  background: #FFFFFF;
  transform: rotateZ(45deg) translateX(-50%);
  bottom: -10px;
  z-index: -1;
  left: 50%;
}