.hg-tooltip {
  height: 500px;
  width: 500px;
  visibility: hidden;
  position: fixed; 
  top: 0;
  left: 0;
  color: #555;
  box-shadow: 0 0 30px rgba(0,0,0, 0.4);
  background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  font-family: Helvetica, sans-serif;
}

.hg-tooltip p {
  padding: 10px 0;
}

.hg-tooltip .hg-tooltip-content {
  padding: 25px 15px 10px 15px;
  flex: 1;
}

.hg-tooltip .btn-hg-tooltip {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hg-tooltip .btn-tool-bar {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #0095FF;
  border-right: 2px solid #efefef;
  flex: 1;
  border-bottom: 1px solid #FFFFFF;
}

.btn-tool-bar.active {
  border-bottom: 1px solid #0095FF;
}

.hg-tooltip .btn-tool-bar:nth-last() {
 border-right: none; 
}

.hg-tooltip .tool-bar-hg-tooltip {
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 45px;
  height: 45px;
}

.hg-tooltip .btn-bar-hg-tooltip {
  border-top: 1px solid #EFEFEF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 35px;
  height: 35px;
}

.hg-tooltip .btn-bar-hg-tooltip-classification {
  flex: 1;
  display: flex;
  padding-left: 6px;
}

.hg-tooltip .btn-bar-hg-tooltip-classification .btn-hg-tooltip {
  border-right: 1px solid #efefef;
  font-size: 21px;
}

.hg-tooltip #select-term {
  margin: 0;
  padding: 0;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.hg-tooltip img {
  height: 60px;
  width: 60px;
}

.hg-tooltip p {
  font-size: 14px;
}

.hg-tooltip .see-more-button {
  color: #0095FF;
  cursor: pointer;
  float: right;
  font-size: 14px;
}

.hg-tooltip:after {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  background: #FFFFFF;
  transform: rotateZ(45deg) translateX(-50%);
  bottom: -10px;
  z-index: -1;
  left: 50%;
}

.tab-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hg-authour {
  color: #b1b1b1;
  font-size: 14px;
}

.hg-others-container {
  overflow: auto;
  background: #fbfbfb;
}

.hg-other-container {
  box-shadow: 0 0 20px rgba(0,0,0,0.03);
  border: 1px solid #efefef;
  margin-top: 20px;
  background: #fff;
}

.hg-create-description {
  color: #0095FF;
  cursor: pointer;
  float: right;
  font-size: 14px;
}

.hg-input {
  font-size: 14px;
  padding: 15px;
  margin-bottom: 20px;
  width: 436px;
}

.description-container form {
  padding: 25px 15px 10px 15px;
}

#hg-editor {
  border: 1px solid #efefef;
  border-top: none;
  height: 260px;
}

.ql-toolbar.ql-snow {
  border: 1px solid #efefef;
}

.description-container-content {
  padding: 25px 15px 10px 15px;
  flex: 1;
}

.form-cancel-button,
.form-save-button {
  font-size: 14px;
  cursor: pointer;
}

.form-cancel-button {
  color: #b1b1b1;
  border-right: 1px solid #EFEFEF;
}

.form-save-button {
  color: #0095FF;
}